
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
  }



  /* Content styling */
  .content {
    margin-top: 20px; /* Space between navbar and content */
    padding: 20px;
    text-align: center;
  }

  .center-box {
    max-width: 2000px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }